[Desktop Entry]
Categories=Qt;KDE;Education;Utility;Engineering;
Exec=brewken
Name=Brewken
GenericName=Beer calculator
Keywords=Beer;Ale;Lager;Cider;Brew;Brewing;Recipe;Beersmith;
X-KDE-StartupNotify=true
Icon=brewken
Terminal=false
Type=Application
